body{
  margin: 0;
  padding: 0;
}
#canvas{
  background: #f3f3f3;
  height: 100vh;
  position: relative;
}
#canvas > div{
height: 6px;
width: 6px;
border-radius: 50%;
background: black;
position: absolute;
}